<p id="notice"><%= notice %></p>

<p>
  <strong>Station:</strong>
  <%= @yamanote_line.station %>
</p>

<%= link_to 'Edit', edit_yamanote_line_path(@yamanote_line) %> |
<%= link_to 'Back', yamanote_lines_path %>
